
* {
    margin: 0;
    padding: 0;
    font-size: 1.0em;
}

body {
    display: inline-block;
    position: relative;
}

#button, #counter {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    line-height: 18px;
    font-size: 10pt;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    cursor: pointer;
}

#button {
    border-color: #15467a;
    color: white;
    background-color: #0d79bf;
    padding: 1px 10px;
    font-weight: bold;
    text-transform: none;
    font-style: italic;
}

#button:hover {
    color: white;
    text-decoration: none;
    background-color: #15467a;
}

#counter {
    position: relative;
    text-align: center;
    border-color: #999;
    color: #999;
    background-color: white;
    margin-left: 5px;
    padding: 1px 15px;
}

#counter:before, #counter:after {
    content: ' ';
    border: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
    right: 100%;
    top: 50%;
}

#counter:before {
    margin: -5px 0 0 0;
    border-right-color: #999;
    z-index: 1000;
}

#counter:after {
    margin: -4px 0 0 0;
    border-width: 4px;
    border-right-color: white;
    z-index: 1001;
}

#counter:hover {
    border-color: black;
    color: black;
    text-decoration: none;
}

#counter:hover:before {
    border-right-color: black;
}
